$color-main: #ffffff;
$color-font: #181D29;
$color-font-cta: #ff6100;
$color-font-price: #009eff;
$color-font-high: #ff1400;
$color-font-low: #00ff3f;
$color-border: #A7ACB5;
$color-disabled: #e5edf6;
$color-warning: rgb(255, 0, 65);
$color-warning-background: rgb(255, 214, 183);
$color-background: rgba(153, 254, 255, 0.47);
$color-background-alt: rgba(134, 221, 222, 0.47);
